
body, a {
    color: #394147;
}

.progress { 
	height: 12px; 
    background-color: #f1f1f1!important; 
    padding: 3px;
    border-radius: 3px;
    margin: 1rem 0;
    position: relative;
}

.progress > .progressbar {
    height: 100%;
    display: block;
    background-color: #4caf50; 
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.progress > .progresstext {
    visibility: hidden;
    width: 8rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -4rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.progress > .progresstext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.progress:hover  > .progresstext {
    visibility: visible;
    opacity: 1;
} 


.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.main {
    flex-grow: 1;
}

.side:hover {
    opacity: 1;
}


.todos {

}

.todo {
    width: 100%;
    min-height: 1rem;
    color: black;
    border-top: 1px solid lightgray;
    padding: 0.5rem 0;
}

.todo.checked {
    /* text-decoration: line-through; */
    /* color: darkgray; */
    /* opacity: 0.5; */
}

.todo.checked>span{
    color: darkgray;
}

.todo.edit>span{
    color: black;
    display: inline;
}

.todo>.priority {
    color: red;
}

.todo>.date {
    color: darkgray;
    display: none;
}

.todo>.project {
    color: darkorange;
}

.todo>.context {
    color: green;
}

.todo>.punctuation {
    color: darkgray;
}

.todo>.key {
    color: blue;
}

.todo>.value {
    color: goldenrod;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 5px 1rem;
    margin: 5px;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.option.selected {
    background-color: #ff980091;
}

.buttons svg {
    width: 1rem;
}

.buttons button {
    background: transparent;
    border: none;
}

.buttons #file-upload {
    display: none;
    border: solid red;
    padding: 0.5rem;
}

.divider {
    width: 100%;
    margin: 2rem 0;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    .container {
        margin: 3rem;
    }
}


/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    .container {
        flex-direction: row;
    }  

    .divider {
        display: none;
    }

    .main {
        margin-right: 3rem;
    }
}


@media (pointer: fine) {
    .side {
        opacity: 0;
        transition: opacity 0.3s;
    }
}